/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-background: #ff5a5f;
  --btn-color: #fff;
  --btn-primary-border: #ff5a5f;
  --input-primary-border: #ccc;
  --border-radius: 0.25rem;
}

.btn.btn-primary {
  padding: 0.5rem;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border: var(--btn-primary-border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

[disabled] {
  background: #ccc !important;
  cursor: none;
}

.input-primary {
  display: block;
  border: solid 1px var(--input-primary-border);
  border-radius: var(--border-radius);
}

.online {
  background: none;
  color: #fff;
}

.offline {
  background: none;
  color: #fff;
}
