/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn.btn-primary {
  padding: 0.5rem;
  background-color: crimson;
  color: #fff;
  border: crimson;
  border-radius: 0.25rem;
}
