/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-background: crimson;
  --btn-color: #fff;
}

.btn.btn-primary {
  padding: 0.5rem;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border: crimson;
  border-radius: 0.25rem;
}

[disabled] {
  background: #ccc !important;
}
